# Informe
Informe/Informe-Tarea-1.aux
Informe/Informe-Tarea-1.log
Informe/Informe-Tarea-1.tex.backup

# Build
R_Trees_CPP/build/

# KDevelop
R_Trees_CPP/*.kdev4
R_Trees_CPP/.kdev4/

# Eclipse
.metadata/
R_Trees_Java/*.classpath
R_Trees_Java/*.project
R_Trees_Java/*.gitignore
R_Trees_Java/bin/

# Vim
*~
..*~
