# Informe
Informe/Informe-Tarea-1.aux
Informe/Informe-Tarea-1.log
Informe/Informe-Tarea-1.tex.backup

# Build
R_Trees_CPP/build/

# KDevelop
*.kdev4

# Eclipse
.metadata/
.recommenders/
R_Trees_Java/*.classpath
R_Trees_Java/*.project
R_Trees_Java/*.gitignore
R_Trees_Java/bin/

# IntelliJ y CLion
R_Trees_JAVA/.idea
R_Trees_C/.idea
R_Trees_CPP/.idea
.idea

# Vim
*~
..*~
